input[type="text"],input[type=password],textarea{font-family:Arial, Helvetica, sans-serif;color:#000;font-size:1em;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;width:270px; overflow:hidden;}
/* Typography Page Forms */
	#contact-form label{ min-height:40px; display:block;}
	#contact-form input,#contact-form  textarea{ border-radius:3px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);}
	#contact-form  textarea{ resize:none; height:170px;}
#contact-form .buttons{ position:relative; padding:20px 0  0 0; text-align:right;}
	#contact-form .buttons span{ display:inline-block; margin-right:15px;}
#contact-form .success,#contact-form .error,#contact-form .empty{display:none; text-align:left;}
#contact-form .error,#contact-form .empty{position:relative; color:red; font-size:11px; top:0px; left:10px;}
#contact-form .success,#contact-form .success strong{ color:#000; background:none; box-shadow:none;}
#contact-form .success{ padding-bottom:5px;}
#contact-form2{}
	#contact-form2 label{ min-height:60px; display:block;}
	#contact-form2 input,#contact-form2  textarea{font-family:Arial, Helvetica, sans-serif;color:#6a6a6a;font-size:1em;vertical-align:middle;font-weight:normal;padding:16px 15px 17px;margin:0;background:none;border:1px solid #e4e4e4;outline:none;width:264px; overflow:hidden;}
	#contact-form2  textarea{ resize:none; height:207px;width:438px;}
#contact-form2 .buttons{ position:relative; padding:20px 0  0 0; text-align:right;}
	#contact-form2 .buttons span{ display:inline-block; margin-left:18px;}
#contact-form2 .success,#contact-form2 .error,#contact-form2 .empty{display:none; text-align:left;}
#contact-form2 .error,#contact-form2 .empty{position:relative; color:red; font-size:11px; top:0px; left:10px;}
#contact-form2 .success,#contact-form2 .success strong{ color:#000; background:none; box-shadow:none;}
#contact-form2 .success{ padding-bottom:5px;}
#form2{}
	#form2 label{ display:block; position:relative; min-height:40px;}
	#form2 input[type="text"]{ border-radius:3px; width:180px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);}
	#form2 textarea{ resize:none;border-radius:3px; height:120px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);}
	#form2 span.text-form{ display:inline-block; padding:5px 0 0; min-width:90px;}
	#form2 div.text-form{ padding:5px 0 10px 0; min-width:90px;}
	#form2 .text-form2{ margin:3px 0 0 5px;}
	#form2 .text-form3{ padding:8px 0px 5px 5px;}
	#form2 .btns{ padding:10px 0 0 0;}	
.pad-form{ padding-top:5px;}
.pad-form2{ padding-top:25px;}

#search,#subscribe{ vertical-align:middle;}
	#search input,#subscribe input{ width:180px; border-radius:3px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);}
	#search .btn,#subscribe .btn{ padding:7px 10px; margin-top:-1px;}
