.container {margin-left:auto;margin-right:auto;width:960px}
.div30px,.div70px,.div110px,.div150px,.div190px,.div230px,.div270px,.div310px,.div430px,.div470px,.div510px,.div630px,.div670px,.div950px
{display:inline;float:left;position:relative;margin-left:5px;margin-right:5px;}
.alpha{margin-left:0;}
.omega{margin-right:0;}
.container .div30px{width:30px;}
.container .div70px{width:70px;}
.container .div110px{width:110px;}
.container .div150px{width:150px;}
.container .div190px{width:190px;}
.container .div230px{width:230px;}
.container .div270px{width:270px;}
.container .div310px{width:310px;}
.container .div430px{width:430px;}
.container .div470px{width:470px;}
.container .div510px{width:510px;}
.container .div630px{width:630px;}
.container .div670px{width:670px;}
.container .div950px{width:950px;}
.container .paddingRight80px{padding-right:80px;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after{clear:both;content:'';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
.clearfix{display:inline-block;} .clearfix{height:1%;}.clearfix{display:block;}