@import"reset.css";@import"grid.css";@import"forms.css";
body{background:#e2e2e2 url(../images/bg-body2.jpg) 50% 0 repeat;font:12px/20px Arial, Helvetica, sans-serif;color:#949494;position:relative;min-width:980px;}
html,body{height:100%;}
p{padding-bottom:20px;}
a{color:#000;outline:none;cursor:pointer;text-decoration:none;}
a:hover{text-decoration:underline}
/*  Header styles */
h1,h2,h3,h4,h5,h6{line-height:1.3em;color:#000;font-family:'Arimo', sans-serif; font-weight:400;}
h1{font-size:30px;font-weight:700;}
h2{font-size:26px;font-weight:700; letter-spacing:-1px; padding-bottom:17px;}
h3{font-size:20px;padding-bottom:17px;} 
h4{font-size:18px; letter-spacing:-1px; padding-bottom:13px;}  
h5{font-size:16px;}
h6{font-size:14px;}
/* Main structure*/
.main{margin:0 auto;position:relative;width:940px; overflow:hidden;}

.bg-main{ width:100%;background:#fff url(../images/bg-body.jpg)  50% 0 repeat;}
/* Links and titles -----*/
.clear{clear:both;line-height:0;font-size:0;overflow:hidden;height:0;width:100%;}
.wrapper{overflow:hidden;position:relative;}
.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.color000{color:#000;}
.wrapper-large{overflow:hidden;position:relative; height:7px;}
/* Header */
header{position:relative;z-index:99;padding:31px 0 25px 0;width:100%; background:url(../images/header-line.jpg) 0 0 repeat-x;}
	header h1{ padding-bottom:39px;}
	header h1 a{ display:block; background: url(../images/logo.png) 0 0 no-repeat;width:500px; height:88px; text-indent:-5000px;}
/* Menu */
nav.main-menu{ width:950px; margin:0 auto; padding-bottom:6px;}

.sf-menu, .sf-menu * {margin:0;padding:0;list-style:none;}
	.sf-menu li {float:left; position:relative; background:url(../images/menu-line.jpg) 0 0 no-repeat; padding-left:1px; text-transform:uppercase; font:11px/15px Arial, Helvetica, sans-serif;}
	.sf-menu li:first-child{ background:none; padding-left:0;}
	.sf-menu li a {display:block;background:#1f2025; width:135px; padding:19px 0 18px; text-align:center; color:#eaeaea; position:relative; overflow:hidden;transition:all 0.5s ease;}
	.sf-menu li.last a{ width:134px;}
	.sf-menu li a em{ font-style:normal;color:#eaeaea;}
	.sf-menu li.sfHover a,.sf-menu li.current a,.sf-menu li a:hover{text-decoration:none; background:#e5e4e2;}
	.sf-menu li.sfHover a em,.sf-menu li.current a em,.sf-menu li a:hover em{color:#1f2025;}
	.sf-menu ul {position:absolute;top:-999em;z-index:99;width:172px;display:none;background:none; background:#1f2025; padding:3px;}
	.sf-menu li li{padding:0; width:100%; font:10px/13px Arial, Helvetica, sans-serif;}
	.sf-menu li li a,.sf-menu li.sfHover li a,.sf-menu li.current li a{color:#fff; background:#1f2025; width:auto; padding:10px; transition:all 0.5s ease;}.sf-menu li li a:hover,.sf-menu li li.sfHover a,.sf-menu li li.current a{ background:#efeeee; color:#000;}
	.sf-menu ul ul {position:absolute;top:-999em;z-index:99;width:172px;display:none;background:none; background:#1f2025; padding:3px;}.sf-menu li li li{padding:0; width:100%;}.sf-menu li li li a,.sf-menu li li.sfHover li a,.sf-menu li li.current li a{color:#fff; background:#1f2025; width:auto; padding:10px;}
	sf-menu li li li a:hover,.sf-menu li li li.current a{background:#efeeee; color:#000;}
	.sf-menu li:hover ul,.sf-menu li.sfHover ul {left:0px;top:53px; /* match top ul list item height */}
	ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {top:-999em;}
	ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {left:179px; /* match ul width */top:0px;}
	ul.sf-menu li li:hover li ul,ul.sf-menu li li.sfHover li ul {top:-999em;}
	ul.sf-menu li li li:hover ul,ul.sf-menu li li li.sfHover ul {left:10em; /* match ul width */	top:00px;}

/* slider */
.pad-slider{ padding:13px 0 0 0;}
#news{
	width:440px; 
	height:800px;
	font:15px/20px Arial, Helvetica, sans-serif; 
	float: right;
	margin-top : 1px;
	margin-left: auto;
	margin-right: auto;
	bottom : 5px;
}

.main-slider{ width:950px; height:440px; position:relative; overflow:hidden; margin:0 auto; background: black; border: white solid 5px;}
	.main-slider .pagination{ position:absolute; z-index:99; bottom:5px; left:30px;}
	.main-slider .pagination li{ display:block; float:right; margin-right:2px;}
	.main-slider .pagination li a{ display:block; background:url(../images/slider-pagination.png) -17px 0 no-repeat; width:14px; height:14px;}
	.main-slider .pagination li.current a,.main-slider .pagination li a:hover{background:url(../images/slider-pagination.png) 0 0 no-repeat;}

.slider-banner{ width:1000px; height:40px; background:white 0 0 repeat; bottom:0; left:0; z-index:90 !important; position:absolute;  text-transform:uppercase; font:20px/25px Arial, Helvetica, sans-serif; color:black; letter-spacing:-1px;}
	.slider-banner span{ display:block;text-align:center;  padding:2px 50px 0 0;}
	
.main-list { position:absolute; right:20px; top:23px; z-index:99; }
	.main-list a {
		display:block;
		width:378px;
		height:96px;
		padding:35px 0 0 28px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:34px;
		line-height:1.205em;
		letter-spacing:-1px;
		color:#fff;
		text-decoration:none;
		background:url(../images/main-list-a.jpg) 0 0 repeat;
		position:relative;
		overflow:hidden;
	}
	.main-list a:hover {background:#df3c4b;}
	.main-list .item-2 {}
	.main-list .item-3 {padding-top:20px; height:120px;}
	.main-list span {
		display:block;
		margin-top:-6px;
	}
	.main-list strong {
		display:block;
		font-size:48px;
		line-height:1.208em;
		font-weight:normal;
	}
/*Content */
section{position:relative; z-index:1; padding:30px 0;}
	section.padding0p0p24p0p{ padding:0 0 24px 0;}
	section.padding11p0p49p0p{ padding:11px 0 49px 0;}
	section.padding11p0p56p0p{ padding:11px 0 56px 0;}
	section.padding11p0p29p0p{ padding:11px 0 29px 0;}
.list-1{ padding:5px 0 24px;}
	.list-1.padlist{ padding-bottom:9px;}
	.list-1.padlist2{ padding-bottom:30px;}
	.list-1 li{ background: url(../images/marker.png) 0 10px no-repeat; padding:4px 0 0 15px;}
	.list-1 li a{ color:#949494;}
.list-2{}
	.list-2 li{ background:url(../images/marker2.png) 0 17px no-repeat; padding:13px 0 11px 41px; font-size:13px;}
	.list-2 li a{ color:#949494;}
	.list-2 li a strong{ display:block; color:#000;}
	.list-2 li a:hover{ text-decoration:none;}
	.list-2 li a:hover strong{ text-decoration:underline;}

.banner1{ display:block; background:url(../images/4page_img2.jpg) 0 0 no-repeat; width:271px; height:164px;}
.banner2{ display:block; background:url(../images/4page_img3.jpg) 0 0 no-repeat; width:271px; height:164px;}
.banner3{ display:block; background:url(../images/5page_img4.jpg) 0 0 no-repeat; width:276px; height:194px; margin-top:7px;}

.map{ width:470px; height:297px;}
	.map iframe{width:470px; height:297px;}

.contacts{ font-style:normal; padding:16px 0 23px 0;}
	.contacts span{ display:inline-block; width:107px;}
	.contacts a{ text-decoration:underline;}
	.contacts a:hover{ text-decoration:none;}
	.contacts em{ font-style:normal;}
	
.und{ text-decoration:underline;}
	.und:hover{ text-decoration:none;}
	
.lineH{ height:5px; width:100%;}

/* buttons */
.button{ display:inline-block; background:#000 url(../images/bg-body2.jpg) 0 0 repeat; text-transform:uppercase; font:11px/15px Arial, Helvetica, sans-serif; color:#fff; transition:all 0.5s ease; padding:7px 15px 6px;}
	.button:hover{ background:#e4e0dd; color:#000; text-decoration:none;}

/* Footer **/
footer{ padding:60px 0 70px;color:#adadad;}
	footer p{ padding-bottom:9px;}
	footer h4{ padding-top:17px;}

.privacy{ color:#fff;}
	.privacy span{ display:inline-block; margin:0 9px;}
	.privacy a{ text-decoration:underline;color:#fff;}
	.privacy a:hover{ text-decoration:none;}

.footer-logo{ padding-bottom:19px;}
	.footer-logo a{ display:block; background:url(../images/logo-footer.png) 0 0 no-repeat; width:500px; height:100px; text-indent:-5000px;}

.footer-list li a{color:#adadad;}

.tooltips{ position:relative; overflow:hidden;}
	.tooltips li{ float:left; padding:0px 70px 7px 0;}
	.tooltips li a{color:#fff;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
	.tooltips li a:hover{ text-decoration:none; color:#adadad;}
	.tooltips li a img{ margin:3px 9px 0 0;}
#footer{
background-color:black;}
footer h4{ color:#fff;}

/* padding */
.padding30p0p56p{ padding:30px 0 56px;}
.padding25p0p52p{ padding:25px 0 52px;}
.padding46p0p58p{ padding:46px 0 58px;}
.padding60p0p52p{ padding:60px 0 52px;}
.padding60p0p54p{ padding:60px 0 54px;}
.pad15p0p14p0p{ padding:15px 0 14px 0;}
.padbot26px{ padding-bottom:26px;}
.padbot24px{ padding-bottom:24px;}
.padbot14px{ padding-bottom:14px;}
.imgindent{ float:left; min-width:71px; margin:3px 0 0;}
.imgindent4{ float:left;margin:6px 20px 15px 0;}
.imgindent5{ float:left;margin:0 0px 15px 0;}
.padtitle7px{ padding-bottom:7px !important;}
.padtitle9px{ padding-bottom:9px !important;}
.padtitle11px{ padding-bottom:11px !important;}
.padtitle13px{ padding-bottom:13px !important;}

	/*<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.js"
type="text/javascript"></script>

<style type="text/css">
@import url("http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.css");
margin-right:2px;

</style>
<script type="text/javascript">
function load() {
var feed ="http://www.thecrimereport.org/feed";
new GFdynamicFeedControl(feed, "feedControl");

}
google.load("feeds", "1");
google.setOnLoadCallback(load);
</script>

<div id="news">
				<div id="feedControl">Loading...</div>
				</div>*/