<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Contacts</title>
  	<meta charset="utf-8">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/script.js"></script>

</head>
<body>
<div class="bg-main">
	<header>
		<div class="container">
			<div class="wrapper">
				<div class="div670px">
					<h1><a href="index.html">Idealex</a></h1>
				</div>
			</div>
		</div>
		<nav class="main-menu">
			<ul class="sf-menu">
				<li><a href="index.html"><em>Home</em><strong></strong></a></li>
				<li><a href="ReportCrime.html"><em>Report a Crime</em><strong></strong></a></li>
				<li><a href="CrimeMap.php"><em>Crime Mapping</em><strong></strong></a></li>
				<li><a href="Newsroom.html"><em>Newsroom</em><strong></strong></a></li>
				<li><a href="MostWanted.html"><em>Most Wanted</em><strong></strong></a></li>
				<li><a href="AboutUs.html"><em>About Us</em><strong></strong></a></li>
				<li class="last"class="current"><a href="ContactUs.html"><em>Contact Us</em><strong></strong></a></li>
			</ul>
			</ul>
			<div class="clear"></div>
		</nav>
	</header>
	<section class="padding11p0p29p0p">
		<div class="container">
			<div class="wrapper">
				<div class="div470px">
					<h2 class="">Our Address</h2>
					<div class="map"><iframe src= "https://maps.google.com/maps?safe=active&q=820+N+Michigan+Ave+Chicago+IL+60639&ie=UTF-8&hq=&hnear=0x880fd353777a95f9:0x6c66e0de82f7254f,820+N+Michigan+Ave,+Chicago,+IL+60611&gl=us&ei=c2lLUqDhN4G0qQHo0YGoAg&ved=0CCoQ8gEwAA"></iframe></div>
					<address class="contacts">
						<p>Crime Reporter<br>
						820 N Michigan Ave<br>
						Chicago IL 60639</p>
						<span>Freephone:</span>+1 800 555 1234<br>
						<span>Telephone:</span>+1 847 801 9169<br>
						<em class="color000">E-mail:</em> <a href="#">sagrawal1023@gmail.com</a>
					</address>
				</div>
				<div class="div470px">
					<h2 class="">Send Message</h2>
					<form id="contact-form2">
						<div class="success"> Contact form submitted! <strong>We will be in touch soon.</strong></div>
						<fieldset>
							<label class="name">
								<input type="text" value="Name">
								<span class="error">*This is not a valid name.</span>
								<span class="empty">*This field is required.</span>
								<span class="clear"></span>
							</label>
							<label class="email">
								<input type="text" value="E-mail">
								<span class="error">*This is not a valid email address.</span>
								<span class="empty">*This field is required.</span>
								<span class="clear"></span>
							</label>
							<label class="phone">
								<input type="text" value="Telephone">
								<span class="error">*This is not a valid phone number.</span>
								<span class="empty">*This field is required.</span>
								<span class="clear"></span>
							</label>
							<label class="message">
								<textarea>Message</textarea>
								<span class="error">*The message is too short.</span>
								<span class="empty">*This field is required.</span>
								<span class="clear"></span>
							</label>
							<div class="buttons"><span><a class="button" data-type="reset">reset</a></span><span><a class="button" data-type="submit">submit</a></span></div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</section>	
</div>
<footer>
	<div class=" container">
		<div class="wrapper">
			<div class="div230px paddingRight80px">
				<h1 class="footer-logo"><a href="index.html">idealex</a></h1>
				<p>Welcome to the Crime Reporter</p>
				<p class="color000 privacy">&copy; 2013 <span>|</span>  <a href="AboutUs.html">Privacy Policy</a> <!-- {%FOOTER_LINK} --></p>
			</div>
			<div class="div270px paddingRight80px">
				<h4>Related Links</h4>
				<div class="wrapper">
					<div class="div150px alpha">
						<ul class="footer-list">
							<li><a href="index.html">Home</a></li>
						    <li><a href="ContactUs.html">Contact Us</a></li>
						</ul>
					</div>
					<div class="div110px omega">
						<ul class="footer-list">
							<li><a href="index.html">Sign Up</a></li>
							<li><a href="ReportCrime.html">Report a Crime</a></li>
							<li><a href="CrimeMap.php">Crime Mapping</a></li>
							
						</ul>
					</div>
				</div>
			</div>
			<div class="div270px">
				<h4>Follow Us</h4>
				<ul class="tooltips">
					<li><a href="Newsroom.html"><img src="images/icon1.png" alt=""><span>RSS</span></a></li>
					<li><a href="http://www.facebook.com"><img src="images/icon3.png" alt=""><span>Facebook</span></a></li>
					<li><a href="http://www.twitter.com"><img src="images/icon2.png" alt=""><span>Twitter</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
</body>
</html>