<form id="form1" name="form1" method="post" action="CrimeDetail">
<label for="Name">Your Name(Optional)</label><input type="text" name="Name" id="Name" />
<br class="clear" /> 
<label for="Email">Your Email</label><input type="text" name="Email" id="Email" />
<br class="clear" /> 
<label for="Time">Time</label><input type="text" name="Time" id="Time" />
<br class="clear" /> 
<label for="Date">Date</label><input type="text" name="Date" id="Date" />
<br class="clear" /> 
<label for="State">State</label><select name="State" id="State">
<option value="--Select--">--Select--</option>
<option value="Alabama">Alabama</option>
<option value="Alaska">Alaska</option>
<option value="Arizona">Arizona</option>
<option value="Arkanasas">Arkanasas</option>
<option value="California">California</option>
<option value="Colorado">Colorado</option>
<option value="Connecticut">Connecticut</option>
<option value="Delaware">Delaware</option>
<option value="Florida">Florida</option>
<option value="Geogia">Geogia</option>
<option value="Hawaii">Hawaii</option>
<option value="Idaho">Idaho</option>
<option value="Illinois">Illinois</option>
<option value="Indiana">Indiana</option>
<option value="Iowa">Iowa</option>
<option value="Kansas">Kansas</option>
<option value="Kentucky">Kentucky</option>
<option value="Lousiana">Lousiana</option>
<option value="Maine">Maine</option>
<option value="Maryland">Maryland</option>
<option value="Massachusetts">Massachusetts</option>
<option value="Michigan">Michigan</option>
<option value="Minnesota">Minnesota</option>
<option value="Mississippi">Mississippi</option>
<option value="Missiouri">Missiouri</option>
<option value="Montana">Montana</option>
<option value="Nebraska">Nebraska</option>
<option value="Nevada">Nevada</option>
<option value="New York">New York</option>
<option value="Texas">Texas</option>
<option value="Others">Others</option>
</select>
<br class="clear" /> 
<label for="City">City</label><input type="text" name="City" id="City" />
<br class="clear" /> 
<label for="Street">Street</label><input type="text" name="Street" id="Street" />
<br class="clear" /> 
<label for="Crime">Crime</label><input type="text" name="Crime" id="Crime" />
<br class="clear" /> 
<label for="Degree">Degree</label><select name="Degree" id="Degree">
<option value="--Select--">--Select--</option>
<option value="Low">Low</option>
<option value="Medium">Medium</option>
<option value="High">High</option>
</select>
<br class="clear" /> 
<label for="Category">Category</label><select name="Category" id="Category">
<option value="Robbery">Robbery</option>
<option value="Bulgary">Bulgary</option>
<option value="Rape">Rape</option>
<option value="Aggravated Assault">Aggravated Assault</option>
<option value="Arson">Arson</option>
<option value="Theft">Theft</option>
<option value="Others">Others</option>
</select>
<br class="clear" /> 
<label for="Description">Description</label><input type="text" name="Description" id="Description" />
<br class="clear" /> 
</form>