<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Crime Reporter</title>
  	<meta charset="utf-8">
	<link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>

<div class="bg-main">
	<header>
		<div class="container">
			<div class="wrapper">
				<div class="div670px">
					<h1><a href="index.html"></a></h1>
				</div>
			</div>
		</div>
		<nav class="main-menu">
			<ul class="sf-menu">
				<li class="current"><a href="index.html"><em>Home</em><strong></strong></a></li>
				<li><a href="ReportCrime.html"><em>Report a Crime</em><strong></strong></a></li>
				<li><a href="CrimeMap.php"><em>Crime Mapping</em><strong></strong></a></li>
				<li><a href="Newsroom.html"><em>Newsroom</em><strong></strong></a></li>
				<li><a href="MostWanted.html"><em>Most Wanted</em><strong></strong></a></li>
				<li><a href="AboutUs.html"><em>About Us</em><strong></strong></a></li>
				<li class="last"><a href="ContactUs.html"><em>Contact Us</em><strong></strong></a></li>
			</ul>
			
			<div class="clear"></div>
		</nav>
	</header>
	<section class="padding0p0p24p0p">
	<div class="pad-slider">
			<div class="main-slider">
				<ul class="items">
					<li>
						<img src="images/slide1.jpg" alt="" border="#000"/>
						<div class="slider-banner"><span>Crime has a short life</span></div>
					</li>
					<li>
						<img src="images/slide2.jpg" alt="" />
						<div class="slider-banner"><span>Fear follow crime and it is punishment</span></div>
					</li>
					<li>
						<img src="images/slide3.jpg" alt="" />
						<div class="slider-banner"><span>The worst crime is faking it</span></div>
					</li>
					<li>
						<img src="images/slide4.jpg" alt="" />
						<div class="slider-banner"><span>Make crime pay</span></div>
					</li>
					<li>
						<img src="images/slide5.jpg" alt="" />
						<div class="slider-banner"><span>Brave officers</span></div>
					</li>
					
				</ul>
			</div>
		</div>		
		
		<div class="container">
			<div class="div950px">
			
				<div class="clear">
				</div>
			</div>
			<div class="clear"></div>
			<div class="wrapper">
				<div class="div950px padding25p0p52p">
					<div class="lineH"></div>
				</div>
			</div>
			<div class="wrapper">
				<div class="div310px">
					<h2>Crime Mapping</h2>
					<img src="images/1page_img6.png" href= ""alt="">
					<p class="pad15p0p14p0p">This portal is dedicated to provide the public with valuable information about crime activity by neighborhood. Our goal is to assist police departments in making neighbourhood a safer place.</p>
					<a href="CrimeMap.php" class="button">Click here</a>
				</div>
				<div class="div310px">
					<h2>Crime Alerts</h2>
					<img src="images/1page_img7.png" alt="">
					<p class="pad15p0p14p0p">A Crime Alert is posted when a crime is reported to the Crime Reporter website and the crime is considered to be a serious or continuing threat to our community.  </p>
					<a href="Newsroom.html" class="button">Click here</a>
				</div>
				<div class="div310px          ">
					<h2>Crime Report Forms</h2>
					<img src="images/1page_img8.png" alt="">
					<p class="pad15p0p14p0p">This form helps you to report crime anonymously...as the logo says if you see something wrong do something right.</p>
					<a href="ReportCrime.html" class="button">Click here</a>
				</div>
			</div>
			
		</div>
	</section>	
</div>
<footer>
	<div class=" container">
		<div class="wrapper">
			<div class="div230px paddingRight80px">
				<h1 class="footer-logo"><a href="index.html">idealex</a></h1>
				<p>Welcome to the Crime Reporter</p>
				<p class="color000 privacy">&copy; 2013 <span>|</span>  <a href="AboutUs.html">Privacy Policy</a> <!-- {%FOOTER_LINK} --></p>
			</div>
			<div class="div270px paddingRight80px">
				<h4>Related Links</h4>
				<div class="wrapper">
					<div class="div150px alpha">
						<ul class="footer-list">
							<li><a href="index.html">Home</a></li>
						    <li><a href="ContactUs.html">Contact Us</a></li>
						</ul>
					</div>
					<div class="div110px omega">
						<ul class="footer-list">
							<li><a href="index.html">Sign Up</a></li>
							<li><a href="ReportCrime.html">Report a Crime</a></li>							
							<li><a href="CrimeMap.php">Crime Mapping</a></li>
							
						</ul>
					</div>
				</div>
			</div>
			<div class="div270px">
				<h4>Follow Us</h4>
				<ul class="tooltips">
					<li><a href="Newsroom.html"><img src="images/icon1.png" alt=""><span>RSS</span></a></li>
					<li><a href="http://www.facebook.com"><img src="images/icon3.png" alt=""><span>Facebook</span></a></li>
					<li><a href="http://www.twitter.com"><img src="images/icon2.png" alt=""><span>Twitter</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
</body>
</html>